<!-- ************************************************************
//
//  header
//
// ************************************************************ -->
<header id="header">
<div class="inner flex">

  <div class="logo"><%- include('../../../../dist/assets/resource/svg/logo.svg'); %></div>

  <div class="menu flex">
    <div class="item"><%- include('../../../../dist/assets/resource/svg/m_about.svg'); %></div>
    <div class="item"><%- include('../../../../dist/assets/resource/svg/m_case.svg'); %></div>
    <div class="item"><%- include('../../../../dist/assets/resource/svg/m_solution.svg'); %></div>
    <div class="item"><%- include('../../../../dist/assets/resource/svg/m_contact.svg'); %></div>
  </div>

</div>
</header>