<% var rootPATH = '../', contentsPATH = './top/', PATH = './', page = 'top'; %>
<!DOCTYPE html>
<html lang="ja">
<head>
<%- include(rootPATH + 'inc/_meta', {data:data, meta:data['common']}); %>
<%- include(rootPATH + 'inc/_style'); %>
<link href="<%- PATH %>assets/css/style.css" rel="stylesheet">
<%- include(rootPATH + 'inc/_log'); %>
</head>
<body id="<%- page %>" class="">

<div id="wrapper" class="id_<%- page %>">
<div id="inner">

	<%- include(rootPATH + 'parts/common/_header', {page:page, PATH: PATH}); %>

  <div class="canvasWrap"></div>

  <%- include(contentsPATH + '_section01', {page:page, PATH: PATH}); %>
  <%- include(contentsPATH + '_section02', {page:page, PATH: PATH}); %>
  <%- include(contentsPATH + '_section03', {page:page, PATH: PATH}); %>
  <%- include(contentsPATH + '_section04', {page:page, PATH: PATH}); %>
	<%- include(contentsPATH + '_section05', {page:page, PATH: PATH}); %>

	<%- include(rootPATH + 'parts/common/_footer', {page:page, PATH: PATH}); %>

</div>
</div>

<%#- include(rootPATH + 'parts/_modal', {PATH: PATH}); %>

<%- include(rootPATH + 'inc/_script', {PATH: PATH}); %>
</body>
</html>